body{
    /* make all text courier, set margin and padding to 10px */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif


  }

  h1{
    /* make your headers 32px, #128ded color and bold */
    font-family: 'Berlin Sans FB';
    font-size: 32px;
    color: black;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 10px;

  }

  h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 10px;
    padding-left: 10px
  }

  h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 24px;
    padding-left: 10px
  }

  h4{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    padding-left: 10px
  }

  p{
    font-size: 14px;
    line-height: 1.25em;
    padding-left: 10px;
    padding-bottom: 20px;
  }

  .fa-solid {
    font-size: 32px;
    color: green;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  a:hover{
    color: green;
  }

  a:link, a:visited {
    color: black;
  }

  .active a{
    color: green;
    text-decoration:solid;
  }

  figure {
    padding-top: 10px;
    padding-left: 10px;
  }

